<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tryincdecazurefunction20220420002219.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b157768e-1446-4a12-9037-7e0e020cd000/resourcegroups/MyResourceGroup/providers/Microsoft.Web/sites/TryIncDecAzureFunction20220420002219</ResourceId>
    <UserName>$TryIncDecAzureFunction20220420002219</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://tryincdecazurefunction20220420002219.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>